/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1440px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --darkteal: #163740;
  --teal1: #426573;
  --teal2: #467C92;
  --teal3: #88A9B6;
  --teal4: #8DB4C4;
  --green1: #849477;
  --green2: #637356;
  --lightblue1: #BAD8E4;
  --lightblue2: #E4F7FF;
  --lightblue3: #DCE8EA;
  --lightgrey: #EAEAEA;



}