#section-text{
    margin-top: 88px;
    padding-bottom: 24px;
}

#item-card1{
    grid-template-columns: 16px auto 16px;
    background-color: var(--green1);
    margin: 32px;
    padding: 24px;

}

#item-card2{
    grid-template-columns: 16px auto 16px;
    background-color: var(--green1);
    margin: 32px;
    padding: 24px;

}

#item-card3{
    grid-template-columns: 16px auto 16px;
    background-color: var(--green1);
    margin: 32px;
    padding: 24px;

}